* { box-sizing: border-box; }

/*
.chart {
	width: 400px;
	height: 270px;
	float: left;
}
*/

.graphgrid {
}

/* clearfix */
.graphgrid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.graphgrid-item {
  width: 400px;
  float: left;
  border: 2px solid #e8e8e8;
  /*border-color: hsla(0, 0%, 0%, 0.5);*/
  border-radius: 1px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.graphgrid-title {
    padding: 5px;
    background-color: #F5F5F5;
    font-size: 12px;
    font-weight: 300;
}

.mynav {
    background-color: #000;
    height: 50px;
    color: #fff;
    padding-bottom: 20px;
}

.dash {
    /*margin-top: 20px;*/
}

.dashCategory {
    color: #E0E0E0;
}

.dark {
    background-color: #EEEEEE;
}

/*
Don't overthink it grid
*/
.grid {
  margin: 0 0 0 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

.pad-left30 {
    padding-left: 30px;
}

.menubk {
    background-color: #BBBBBB;
}

[class*='col-'] {
  float: left;
  padding-right: 0;
  margin: 0 auto;
  height: 100%;
  min-height: 700px;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-1-8 {
	width: 12.5%;
}
.col-7-8 {
	width: 87.5%;
}

/*
menu ul
*/
ul.menu {
    padding: 20px;
    background-color: #BBBBBB;
    list-style: none;
}
